/*! @gov.au/core v3.4.2 */

/*! @gov.au/header v4.1.12 */

@media print {
    .au-header {
        background: #fff !important
    }
    .au-header a img {
        border: 0 !important
    }
    .au-header, .au-header__brand, .au-header__subline {
        color: #000 !important
    }
    .au-header__brand-image {
        display: none !important
    }
}

.au-header {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    padding: 24px 0;
    padding: 1.5rem 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #313131;
    background: #fff
}

@media (min-width: 768px) {
    .au-header {
        font-size: 20px;
        font-size: 1.25rem;
        line-height: 1.6
    }
}

@media (min-width: 768px) {
    .au-header {
        padding: 48px 0;
        padding: 3rem 0
    }
}

.au-header.au-header--alt {
    background-color: #f5f5f5
}

.au-header.au-header--dark {
    color: #fff;
    background-color: #135E70
}

.au-header.au-header--alt.au-header--dark {
    color: #fff;
    background-color: #0d414d
}

.au-header__heading {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: bold;
    margin: 0;
    padding: 0
}

@media (min-width: 768px) {
    .au-header__heading {
        font-size: 32px;
        font-size: 2rem;
        line-height: 1.5
    }
}

.au-header__subline {
    max-width: 42em;
    color: #636363
}

.au-header--dark .au-header__subline {
    color: #b8cfd4
}

.au-header__brand {
    min-width: 192px;
    min-width: 12rem
}

.au-header__brand:before, .au-header__brand:after {
    content: " ";
    display: table
}

.au-header__brand:after {
    clear: both
}

.au-header__brand .au-header__brand-image {
    display: block;
    border-style: none;
    max-width: 192px;
    max-width: 12rem
}

.au-header__brand .au-header__brand-image+.au-header__text {
    margin-top: 16px;
    margin-top: 1rem
}

@media (min-width: 768px) {
    .au-header__brand {
        min-width: 256px;
        min-width: 16rem
    }
    .au-header__brand .au-header__brand-image {
        float: left;
        max-width: 256px;
        max-width: 16rem;
        margin-right: -256px;
        margin-right: -16rem
    }
    .au-header__brand .au-header__brand-image+.au-header__text {
        padding-left: 16px;
        padding-left: 1rem;
        margin-left: 272px;
        margin-left: 17rem;
        margin-top: 0;
        float: left;
        border-left: 1px solid gray
    }
    .au-header--dark .au-header__brand .au-header__brand-image+.au-header__text {
        border-left-color: #89afb8
    }
}

a.au-header__brand {
    display: inline-block;
    color: #313131;
    text-decoration: none
}

a.au-header__brand:focus {
    outline: 3px solid #9263DE;
    outline-offset: 2px
}

a.au-header__brand::-moz-focus-inner {
    border: 0
}

a.au-header__brand:hover .au-header__text {
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto
}

.au-header--dark a.au-header__brand {
    color: #fff
}

.au-header--dark a.au-header__brand:focus {
    outline: 3px solid #C390F9
}

.au-header--dark a.au-header__brand::-moz-focus-inner {
    border: 0
}

.au-header.au-header--hero {
    padding: 48px 0 56px 0;
    padding: 3rem 0 3.5rem 0
}

.au-header.au-header--hero .au-header__brand .au-header__brand-image {
    float: none
}

.au-header.au-header--hero .au-header__brand-image+.au-header__text {
    margin-top: 32px;
    margin-top: 2rem;
    border: 0;
    margin: 0;
    padding: 0
}

.au-header.au-header--hero .au-header__brand-image+.au-header__text .au-header__heading {
    margin-top: 32px;
    margin-top: 2rem
}

.au-header.au-header--hero .au-header__heading {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.6
}

@media (min-width: 768px) {
    .au-header.au-header--hero .au-header__heading {
        font-size: 40px;
        font-size: 2.5rem;
        line-height: 1.5
    }
}

.au-header.au-header--hero .au-header__heading+.au-header__subline {
    margin-top: 12px;
    margin-top: .75rem
}